@{
    ViewBag.Title = "Index";
}
<div class="inline">
    <p>
        <label>Week :</label> <span id="startDate" data-bind="text:startDate"></span> - <span id="endDate" data-bind="text:endDate"></span>
        <a data-bind="click: function(){isWeekPickerVisible(!isWeekPickerVisible());}">Change week</a>
    </p>
    <div class="week-picker" data-bind="weekpicker: weekpicker, startDateValue: startDate, endDateValue: endDate, visible:isWeekPickerVisible"></div>
</div>
<p>
    <a href="#" data-bind="event: { click: openCreate}">Add New</a>
</p>
<p>
    <label class="error css-project-error" data-bind="text: errorMsg"></label>
</p>


<div>

    <!--ko template: { name: 'ko-timelogs', data: timelogs,  if: (timelogs().length > 0 || isCreateOpen() ) } -->
    <!-- /ko -->
</div>

<div id="deleteDialog" data-bind="dialog: {autoOpen: false, title: 'Delete timelog' }, dialogVisible: isDeleteOpen">
    <div data-bind="template: {name: 'ko-deleteForm', data: deleteContent, if:isDeleteOpen}"></div>
</div>
@{
    Html.RenderPartial("Delete");
    Html.RenderPartial("CreateTimelog");
    Html.RenderPartial("Timelog");
    Html.RenderPartial("EditTimelog");
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var pms = { timelogs: { dataManager: {} } };

        $(document).ready(function() {
            pms.timelogs.dataManager.urls = {
                getTimelogs: '@Url.Action("GetTimelogs", "TimeLog")',
                createTimelog: '@Url.Action("Create", "TimeLog")',
                deleteTimelog: '@Url.Action("Delete", "TimeLog")',
            };

            // var dataManager = new pms.timelogs.dataManager();
            //dataManager.getTimelogs(function (timelogs) {

            //});
            var model = new pms.timelogs.timelogsViewModel({});
            ko.applyBindings(model);
        });
    </script>
    @Scripts.Render("~/bundles/timelogs")
}