@model Web.Models.LogInModel

@{
    ViewBag.Title = "Log in";
}
<fieldset class="loginForm">
    <legend>Log in</legend>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "css-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)



        <p>
            @Html.LabelFor(model => model.Email)

            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </p>

        <p>
            @Html.LabelFor(model => model.Password)

            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </p>
        <p>
            @Html.LabelFor(model => model.RememberMe)


            @Html.EditorFor(model => model.RememberMe)
            @Html.ValidationMessageFor(model => model.RememberMe)
        </p>


        <p>
            <input type="submit" value="Log in" class="formbutton" />
        </p>

    }
</fieldset>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
