<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="container">
        @RenderPage("Header.cshtml")
        <div id="body">
            <div id="content">
                @RenderBody()
            </div>
            <div class="clear"></div>
        </div>
     
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("styles", required: false)
        @RenderSection("scripts", required: false)
    </div>
    @RenderPage("Footer.cshtml")
</body>
</html>
