<nav>
    <ul>
        <li class="start">@Html.ActionLink("Projects", "Index", "Project")</li>
        <li>@Html.ActionLink("Users", "Index", "User")</li>
        <li class="end">@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li class="end">@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</nav>