@using BLL.DomainModel.Enums
@model Web.Models.CreateUserModel

@{
    ViewBag.Title = "Create";
}

<h2>Create new user</h2>
<fieldset>
    <legend>User</legend>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            @Html.LabelFor(model => model.FirstName)


            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </p>

        <p>
            @Html.LabelFor(model => model.LastName)


            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </p>

        <p>
            @Html.LabelFor(model => model.Birthday)


            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </p>

        <p>
            @Html.LabelFor(model => model.Phone)


            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </p>

        <p>
            @Html.LabelFor(model => model.Skype)


            @Html.EditorFor(model => model.Skype)
            @Html.ValidationMessageFor(model => model.Skype)
        </p>

        <p>
            @Html.LabelFor(model => model.Email)


            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </p>

        <p>
            @Html.LabelFor(model => model.Login)


            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </p>

        <p>
            @Html.LabelFor(model => model.Password)


            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </p>

        <p>
            @Html.EditorFor(model => model.Role)
            @Html.ValidationMessageFor(model => model.Role)
            @*@Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetValues(typeof(Role))))*@
        </p>

        <p>
            <input type="submit" value="Create" class="formbutton" />
        </p>

    }
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
