@model Web.Models.CreateUserModel

<h3>Are you sure you want to delete this?</h3>
<div class="css-link">
    <a href="#" data-bind="event: { click: closeDelete}">Back</a>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
<fieldset id="deleteForm">
    <legend>User</legend>
    @using (Html.BeginForm())
    {
        <p>
            <b>@Html.DisplayNameFor(model => model.FirstName):</b>

            @Html.DisplayFor(model => model.FirstName)
        </p>

        <p>
            <b>
                @Html.DisplayNameFor(model => model.LastName):
            </b>
            @Html.DisplayFor(model => model.LastName)
        </p>

        <p>
            <b>
                @Html.DisplayNameFor(model => model.Role):
            </b>

            @Html.DisplayFor(model => model.Role)
        </p>


        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="formbutton" />
        </p>
    }
</fieldset>
