@model BLL.DomainModel.Entities.User

@{
    ViewBag.Title = "Profile";
}

<h2>Details</h2>
<div class="css-link">
    @Html.ActionLink("Back to List", "Index")
</div>
<div class="inline">
    <img class="avatar big css-center" data-bind="attr:{ src: '/User/GetUserImage?id=' + user().Id+'&flag='+ flag()}" alt="user image" />
</div>
<div class="inline css-user-info">
    <input type="hidden" name="Id" data-bind="text:user().Id" />
    <p>
        <span class="css-titleSpan" data-bind="text: user().FirstName +' '+ user().LastName"></span>
        
    </p>
    <p>
        <a href="#" data-bind="event: { click: function(){ openEdit({ id: user().Id })}}">Edit</a>
    </p>
    <p>
        <label class="bold" for="Login">Login:</label>
        <span id="Login" data-bind="text:user().Login"></span>
    </p>
    <p>
        <label class="bold" for="Email">Email:</label>
        <span id="Email" data-bind="text:user().Email"></span>
    </p>
    <p>
        <label class="bold" for="Birthday">Birthday:</label>
        <span data-bind="text:user().Birthday"></span>
    </p>
    <p>
        <label class="bold" for="Phone">Phone:</label>
        <span id="Phone" data-bind="text:user().Phone"></span>
    </p>
    <p>
        <label class="bold" for="Skype">Skype:</label>
        <span id="Skype" data-bind="text:user().Skype"></span>
    </p>
    <p>
        <label class="bold" for="Role">Role:</label>
        <span data-bind="text: $.grep(roles, function(r){return r.roleId == user().Role })[0].roleName"></span>
</div>
<div id="editDialog" data-bind="dialog: {autoOpen: false, title: 'Edit user' }, dialogVisible: isEditOpen">
    <div data-bind="template: {name: 'ko-editUser',  data: editContent, if: isEditOpen}"></div>
</div>
@{
    Html.RenderPartial("Edit");
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src='@Url.Content("~/Scripts/fileValidation.js")'></script>
    <script type="text/javascript">

    var pms = { users: {} };
    var model;

    $(document).ready(function () {
        pms.users.dataManager.urls = {
            getUserJson: '@Url.Action("Get", "User")',
            editUser: '@Url.Action("Edit", "User")',
            };
            var dataManager = new pms.users.dataManager();
            dataManager.getUserJson({ id: @Model.Id }, function (user) {
                var model = new pms.users.usersViewModel([user]);
                ko.applyBindings(model);
            });
        });
    </script>
    @Scripts.Render("~/bundles/users")

}