@using BLL.DomainModel.Enums
@model IEnumerable<BLL.DomainModel.Entities.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    <a href="#" data-bind="event: { click: openCreate}">Create New</a>
</p>

<!-- ko template: { name: 'ko-user', foreach: users } -->
<!-- /ko -->

<div id="createDialog" data-bind="dialog: {autoOpen: false, title: 'Create user' }, dialogVisible: isCreateOpen">
    <div data-bind="template: {name: 'ko-createUser', if:isCreateOpen}"></div>
</div>
<div id="editDialog" data-bind="dialog: {autoOpen: false, title: 'Edit user' }, dialogVisible: isEditOpen">
    <div data-bind="template: {name: 'ko-editUser',  data: editContent, if: isEditOpen}"></div>
</div>

<div id="deleteDialog" data-bind="dialog: {autoOpen: false, title: 'Delete user' }, dialogVisible: isDeleteOpen">
    <div data-bind="template: {name: 'ko-deleteForm', data: deleteContent, if:isDeleteOpen}"></div>
</div>
@{
    Html.RenderPartial("CreateUser");
    Html.RenderPartial("Edit");
    Html.RenderPartial("Delete");
    Html.RenderPartial("User");
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src='@Url.Content("~/Scripts/fileValidation.js")'></script>

    <script type="text/javascript">
        var pms = { users: {} };
        var model;

        $(document).ready(function () {

            $(".js-menu-users", "nav").addClass("selected");
            
            pms.users.dataManager.urls = {
                getUserJson: '@Url.Action("Get", "User")',
                deleteUser: '@Url.Action("Delete", "User")',
                getUsersJson: '@Url.Action("GetAll", "User")',
                createUser: '@Url.Action("Create", "User")',
                editUser: '@Url.Action("Edit", "User")',
            };
            var dataManager = new pms.users.dataManager();
            dataManager.getUsersJson(function (users) {
                var model = new pms.users.usersViewModel(users);
                ko.applyBindings(model);
            });
        });
    </script>
    @Scripts.Render("~/bundles/users")
}


