@model IEnumerable<BLL.DomainModel.Entities.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <div class="css-user-item">

        <img class="avatar small css-center" src='@Url.Action("GetUserImage", "User", new RouteValueDictionary { { "id", item.Id } })' alt="user image" />


        @item.FirstName @item.LastName
        <br>
        @item.Role


        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>
}